*{
    padding: 0;
    margin: 0;
    block-size: border-box;
    list-style: none;
    font-size: 20px;

}

body{
    background-image: /*linear-gradient(rgba(226, 174, 3, 0.5), rgba(226, 174, 3, 0.5)), */url(./assets/img/bg.jpg);
}

/** Firefox Logo & Text **/
.hero_text, .hero_png{
    display: inline-block;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}
/** Firefox Logo **/

/** FireFox Text **/
.hero_text{
    font-family: Permanent Marker;
    font-size: 160px;
    font-weight: 400;
}

/* Search bar */
.search{
    margin: auto;
    width: 100%;
    max-width: 700px;
}
.bar{
    display: flex;
    align-items: center;
    width: 100%;
    border: 2px solid rgba(71, 66, 66, .25);
    border-radius: 60px;
    padding: 10px 15px;
    background: rgba(255, 255, 255 , .25);
}
.bar input{
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 15px 15px;
    
}
.bar button{
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    cursor: pointer;
    background-color: rgb(226, 174, 3);
}
.bar button img{
    width: 25px;
}